nginx_vhosts:
  - listen: "80 default_server"
    server_name: "site1.ss.loc"
    root: "/var/www/html/site1.ss.loc"
    index: "index.php index.html index.htm"
    template: "{{ playbook_dir }}/templates/site1.ss.loc.vhost.j2"
